.loader {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	max-width: 900px;
	width: 100%;
}

.image {
	margin-right: 10px;
	border-radius: 10px;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	max-width: 650px;
	width: 100%;
}

.title {
	font-size: 48px;
	margin-bottom: 10px;
}

.tagsContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 20px;
}

.tag {
	margin-right: 20px;
}

.description {
	margin-top: 10px;
}

@media (max-width: 580px) {
	.loader {
		flex-direction: column;
		align-items: center;
	}

	.image {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.infoContainer {
		width: 100%;
		padding: 0;
	}

	.tagsContainer {
		justify-content: center;
	}
}

@media (max-width: 580px) {
	.infoContainer {
		max-width: 450px;
	}
}

@media (max-width: 410px) {
	.infoContainer {
		width: calc(100vw - 40px);
	}
}
