@import '../../styles/variables.scss';

.container {
	max-width: 900px;
	width: 100%;
}

.list {
	display: grid;
	grid-gap: 30px;
	max-width: 900px;
	width: 100%;
	margin-bottom: 30px;
	list-style-type: none;
	// animation: fadeIn 0.2s ease-in-out;

	@media (max-width: 580px) {
		& {
			grid-gap: 50px;
		}
	}
}

.fadeEnter {
	opacity: 0;
	transform: translateX(-400px);
}

.fadeEnterActive {
	opacity: 1;
	transition: 0.5s;
	transform: translateX(0);
}

.fadeExit {
	opacity: 1;
}

.fadeExitActive {
	opacity: 0;
	transition: 0.5s;
	transform: translateX(400px);
}

.list li {
	animation: slideIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.paginationContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: auto;
	margin-bottom: 30px;
	animation: fadeIn 0.5s ease-in-out;

	span {
		font-size: 22px;
		user-select: none;
		height: 32px;
		width: auto;
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
		background-color: $brightOrange;
		border: none;
		width: 60px;
		height: 60px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			opacity: 0.9;
		}
	}
}

.noDataText {
	font-size: 32px;
	margin-bottom: 30px;
	animation: fadeIn 0.5s ease-in-out;

	@media (max-width: 580px) {
		& {
			font-size: 28px;
		}
	}

	@media (max-width: 440px) {
		& {
			font-size: 24px;
		}
	}

	@media (max-width: 380px) {
		& {
			font-size: 20px;
		}
	}
}
