@import '../../styles/variables';

.wrapper {
	width: 100%;
	background-color: $orange;

	@media (max-width: 700px) {
		& {
			padding: 0 20px !important;
		}
	}

	@media (max-width: 510px) {
		& {
			background-color: $white;
		}
	}

	.main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: $white;
			padding: 60px 50px 60px 50px;
			border-radius: 38px;
			max-width: 610px;
			width: 100%;

			@media (max-width: 510px) {
				& {
					padding: 0;
				}
			}

			h2 {
				font-size: 48px;
				color: $orange;
				margin-bottom: 10px;

				@media (max-width: 590px) {
					& {
						font-size: 46px;
					}
				}

				@media (max-width: 510px) {
					& {
						color: $brightOrange;
					}
				}

				@media (max-width: 420px) {
					& {
						font-size: 42px;
					}
				}

				@media (max-width: 380px) {
					& {
						font-size: 40px;
					}
				}

				@media (max-width: 330px) {
					& {
						font-size: 39px;
					}
				}
			}

			> div {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				margin-bottom: 20px;

				@media (max-width: 590px) {
					& {
						font-size: 18px;
					}
				}

				@media (max-width: 450px) {
					flex-direction: column;
					gap: 2px;
				}

				h3 {
					font-size: 22px;

					@media (max-width: 590px) {
						& {
							font-size: 18px;
						}
					}
				}

				a {
					font-size: 24px;
					text-decoration: none;
					color: $brightOrange;

					&:hover {
						text-decoration: underline;
					}

					@media (max-width: 590px) {
						& {
							font-size: 20px;
						}
					}
				}
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: 100%;

				button {
					margin-top: 10px;
				}
			}
		}
	}
}
