@import '../../styles/variables.scss';

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	max-width: 600px;
	width: 100%;

	@media (max-width: 640px) {
		& {
			padding: 0 20px;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		width: 100%;

		.passwordField {
			@media (max-width: 640px) {
				& {
					flex-direction: column;
				}
			}
		}

		div {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 20px;
			position: relative;
			margin-bottom: 30px;

			@media (max-width: 640px) {
				& {
					align-items: flex-start;
					gap: 8px;
				}
			}

			label {
				font-size: 28px;
			}
		}
	}
}
