.loader {
	display: flex;
	flex-direction: row;
	height: 300px;
	max-width: 900px;
	width: 100%;

	.avatar {
		width: 300px;
		height: 300px;
		border-radius: 12px;
		margin-right: 38px;
	}

	.infoContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 572px;
		width: 100%;

		@media (max-width: 400px) {
			align-items: center;
		}
	}

	.nameAndButtonContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 572px;
		width: 100%;
		align-items: center;
		margin-bottom: 16px;

		.name {
			width: 200px;
			height: 42px;
			border-radius: 8px;
		}

		.editButton {
			width: 40px;
			height: 40px;
			border-radius: 8px;
		}

		@media (max-width: 400px) {
			.editButton {
				display: none;
			}
		}
	}

	.description {
		width: 100%;
		height: 200px;
		border-radius: 8px;
		min-height: 50%;
	}

	@media (max-width: 678px) {
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	@media (max-width: 678px) {
		.avatar {
			margin: 0 0 10px 0;
		}
	}

	@media (max-width: 572px) {
		padding: 0 20px;
	}
}
